html {
 font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

#pokedex-logo {
  max-width: 200px;
}
.pokemon-list-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('/assets/pokedex_background.png');
  background-repeat: repeat-y;
  background-size: cover;
  overflow-x: hidden;
}

.pokemon-container {
  height: 90vh;
  overflow: auto;
}

.poke-card {
  width: 90vw;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  .sprite {
    width: 100px;
    height: 100px;
  }

  .tags {
    display: flex;
    text-align: center;
    
    p {
      width: 80px;
      color: white;
      padding: 2px 0;
      margin-right: 10px;
      border-radius: 5px;
    }

    .normal {
      background-color: rgba(168, 168, 120, 1);
    }

    .fire {
      background-color: rgba(240, 128, 48, 1);
    }

    .water {
      background-color: rgba(104, 144, 240, 1);
    }

    .grass {
      background-color: rgba(120, 200, 80, 1);
    }

    .electric {
      background-color: rgba(248, 208, 48, 1);
    }

    .ice {
      background-color: rgba(152, 216, 216, 1)
    }

    .fighting {
      background-color: rgba(192, 48, 40, 1)
    }

    .poison {
      background-color: rgba(160, 64, 160, 1)
    }

    .ground {
      background-color: rgba(225, 192, 104, 1)
    }

    .flying {
      background-color: rgba(168, 144, 240, 1)
    }

    .psychic {
      background-color: rgba(248, 88, 136, 1)
    }

    .bug {
      background-color: rgba(168, 184, 32, 1)
    }

    .rock {
      background-color: rgba(184, 160, 56, 1)
    }

    .ghost {
      background-color: rgba(112, 88, 152, 1)
    }

    .dark {
      background-color: rgba(112, 88, 72, 1);
    }

    .dragon {
      background-color: rgba(112, 56, 248, 1);
    }

    .steel {
      background-color: rgba(184, 184, 208, 1)
    }

    .fairy {
      background-color: rgba(240, 182, 188, 1)
    }
  }

  button {
    background: red;
    color: white;
    border-radius: 5px;
    // outline: none;
    border: none;
    // border-radius: 50%;
    padding: 5px 10px;
    img {
      width: 15px;
      margin-left: 5px;
      color: white;
    }
  }
}

.move-container {
  height: 50vh;
  overflow: auto;

  & > div {
    margin-bottom: 10px;
    
    p {
      padding: 10px;
      border: 2px solid blue;
      text-align: center;
      border-radius: 5px;
      background: lightgrey;
    }
  }
}

/** modal **/
.modal-background {
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-container {
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    color: #000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 10;
    border-radius: 10px;
  }
}


